PROJECT_NAME=
API_STR=
API_VERSION=

BACKEND_CORS_ORIGINS=
FRONTEND_URL=
BACKEND_URL=
SERVICE_PORT=

MONGODB_URI=
MONGODB_DB_NAME=

SECRET_KEY=
ALGORITHM=
ACCESS_TOKEN_EXPIRE_MINUTES=

GEMINI_API_KEY=

TYPESENSE_API_KEY=
TYPESENSE_HOST=
TYPESENSE_PORT=
TYPESENSE_PROTOCOL=